[submodule "can"]
	path = revision_1/std_modules/arduino-mcp2515
	url = https://github.com/GSSM-AutoGolfCart/arduino-mcp2515
[submodule "digipot"]
	path = revision_1/rev1_drive_module/arduino-mcp4xxx
	url = https://github.com/GSSM-AutoGolfCart/arduino-mcp4xxx
[submodule "arduino"]
	path = revision_1/std_modules/ArduinoCore-avr
	url = https://github.com/GSSM-AutoGolfCart/ArduinoCore-avr
[submodule "stm32"]
	path = revision_3/lib/libopencm3
	url = https://github.com/GSSM-AutoGolfCart/libopencm3
